<div ng-include="'components/Controllers/navbar/navbar.html'"></div>

  <md-content layout="column" layout-align="center center">
    <span class="md-body-1" layout>Arraste aqui o seu arquivo csv para a analisar junto com a base de dados arual</span>
    <div layout="row" layout-align="space-between center">
      <div layout="row" layout-align="space-between center">
        <input type="checkbox" ng-model="multiple">
        <span class="md-body-1" layout>upload multiple file</span>
      </div>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-1" layout>watching model:</span>
        <md-button class="md-primary md-raised" ngf-select ng-model="files" ngf-multiple="true"> teste </md-button>
        <div class="button" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>
      </div>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-1" layout>on file change:</span>
        <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div>
      </div>
    </div>
    <div layout="row" layout-align="space-between center">
      <span class="md-body-1" layout>Drop File:</span>
      <div ngf-drop ngf-select ng-model="files" class="drop-box"
          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
          accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <span class="md-body-1" layout>Files:</span>
      <ul>
          <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
      </ul>
    </div>
    Upload Log:
    <pre>{{log | json}}</pre>

    <md-button ng-click="addUpload()" class="md-primary md-raised" type="submit">
      adiciona em uploads
    </md-button>

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Upload:</h1>
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="upload in awesomeUploads">
          <li><a href="#" tooltip="{{upload}}">{{upload}}</a><!--button type="button" class="close" ng-click="deleteUpload(upload)">&times;</button--></a></li></li>
        </ul>
      </div>
    </div>

  </md-content>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
